body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
    font-weight: 300;
  font-style: normal;
margin: 0;   
}

/*header stuff here*/
header {
    background-color: #d9c196;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #401309;
}
header p {
    margin: 0;
    color: #401309;
    letter-spacing: .75px;
}

/*nav stuff here*/
nav {
    background-color: #d9965b;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #401309;
    font-weight: 500;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a{
    background-color: #401309;
    color: #d9965b; 
}
nav a:hover{
    color: white;
}

/*main stuff here*/
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #bf6e3f;  
}
main h2 {
    color: #401309;
    margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin: .0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #d9c196;
    width: 12.5rem;
    border: 1px solid #401309;
    border-radius: 5px;
}
main dl dt {
    color: #401309;
    font-weight: 500;    
}
main dl dd {
    color: #401309;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
    line-height: 125%; 
    padding: .5rem 3vw;
    background-color: #d9c196;
    width: 12.5rem;
    border: 1px solid #401309;
    border-radius: 5px;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color: #d9c196;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #401309;
    border-radius: 5px;
}

main a {
    color: #401309;   
}
main a:hover {
    color: #bf6e3f;   
}
figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;  
}

div.gallery {
    display: flex;
    flex-wrap: wrap;   
}
div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #401309;
}

.myform fieldset {
    border: 1px solid #401309;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: #bf6e3f;
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea {
    display: block
}

.myform select, .myform [type=text], .myform [type=tel], .myform textarea {
    border: solid 1px #401309;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;    
}

.myform textarea {
    height: 6rem;
}

.myform :required {
    background-color: #d9c196; 
}

.myform [type=submit] {
    background-color: #bf6e3f;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}


/*footer stuff here*/
footer {
    background-color: #d9c196;
    text-align: center;
    color:  #401309; 
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #401309;
}